:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}

body {
    background-color: #F8F9F9 ;
    margin: 0;
    font-family: 'Quicksand', sans-serif;
}


/*SECCION INICIO--------------------------------------------------------------------------------------------------------------*/
.seccion-inicial{
    display: flex;
    align-items: center;
    justify-content:center;
    height: 100vh;
    gap: 30px;
}

/*SECCION TITULO--------------------------------------------------------------------------------------------------------------*/
.logo-inicio{
    margin: 10px;
    width: 350px;
}

.logo-inicio h1{
    font-size: 40px;
    text-align: center;
    background-color: #A9D0F5;
    border: 2px solid ;
    border-radius: 20px;
    padding: 15px;
    border: #b7ceed;
    -webkit-box-shadow: 9px 10px 9px -1px rgba(0, 0, 0, 0.39);
    -moz-box-shadow: 9px 10px 9px -1px rgba(0, 0, 0, 0.39);
    box-shadow: 9px 10px 9px -1px rgba(0, 0, 0, 0.39);
}

.span-mega{
    color:red;
}
.span-tel{
    color:#08088A;
}

/*SECCION FORMULARIO--------------------------------------------------------------------------------------------------------------*/

.formulario-ingreso-datos{
    display: flex;
    width: 500px;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 1px 10px rgba(0, 0, 0, 0.2);
    padding: 10px;
}

.formulario-ingreso-datos h2{
    text-align: center;
}

.input-box{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 1.1rem;
    padding-left: 15px;

}
.input-box input:focus-visible {
    outline: 1px solid #6c63ff;
}
.input-box label{
    font-size: 1rem;
    font-weight: bold;
    color: #000000c0;
}

.input-box label {
    align-items: center;
    margin-right: 20px;
}

.input-box input {
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 1px 6px #5907bc1c;
    font-size: 0.8rem;
    width: 250px;
}

.botones-formulario{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


.boton-enviar-form{
    width: 150px;
    height: 50px;
    background: dodgerblue;
    border: none;
    border-radius: 6px;
    color: var(--white);
    font-size: 16px;
    cursor: pointer;
}

/*---------------------------------------------------------------------------------------------------------------------*/

.tabla-registro{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 5px;
  background-color: #f0f0f0;
  padding: 10px;
  width: 60%; /* Ajusta el ancho al 60% de la pantalla */
  margin: auto; /* Centra la tabla en la pantalla */
}
.tabla-registro h2, .dato{
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
}
